.btn {
  padding: 1rem 1.6rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &--primary {
    background: $color-primary;
    color: white;
    &:hover {
      background: $color-primary-hover;
    }
  }

  &--outline {
    color: inherit;
    background: white;
    border: 1px solid inherit;
  }

  &--danger {
    background: transparent;
    border: 1px solid $color-danger;
    color: $color-danger;

    &:hover {
      background: $color-danger;
      color: white;
    }
  }
}
