.borders {
  border: 1px solid $color-input-border;
  border-bottom: none;
  overflow: hidden;

  &:first-child {
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
  }

  &:last-child {
    border-bottom: 1px solid $color-input-border;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
  }
}
