/* Reset all default styles */
body,
h1,
h2,
h3,
p,
ul,
ol,
li,
dl,
dd,
dt,
blockquote,
figure,
pre,
hr {
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default hyperlink styles */
a {
  text-decoration: none;
}

/* Reset heading styles */
h1,
h2,
h3 {
  font-size: 1em;
  font-weight: normal;
}

/* Reset form element styles */
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* Ensure images don't have borders */
img {
  border: none;
}
